---
---
@import "{{ site.theme }}";

.tldr {
  margin:30px 0;
  padding:20px 20px 24px;
  padding-left:50px;
  border-radius:5px 5px 5px 5px;
  position:relative;
  box-shadow:0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
  background-color:#b9df99;
  h5 {
    font-weight:900;
    font-size:1.0em;
    font-style:normal
   }
  :after {
    content:'\24D8';
    // color:rgb(151, 199, 255);
    position:absolute;
    top:14px;
    left:14px;
    font-size:28px;
    // font-weight:100;
    // text-shadow:1px 1px 1px rgb(7, 32, 61)
   }
};

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-header {
  h1, h3 {
    margin-bottom: 0;
  }
  .tags {
    font-size: 90%;
  }
  .post-meta {
    margin-bottom: 0;
  }
  margin-bottom: 25px;
}

.tag_cloud {
  border-bottom: 1px solid #e8e8e8;
  input[type='checkbox'] {
    display: none;
  }
  .lbl-toggle {
    padding: 1rem;
    cursor: pointer;

    transition: all 0.25s ease-out;
  }

  .lbl-toggle:hover {
    // color: #7C5A0B;
  }
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
  }
  .collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.post-excerpt img {
  max-height: 200px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.site-home {
  display: block;
  margin-top: 5px;
  .site-avatar {
    max-height: 80px;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
  }
}