---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <hr>
    <div class="post-list">
      {%- for post in site.posts -%}
        <div class="post">
          <header class="post-header">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {% include post-meta.html context=post %}
          </header>
          {%- if site.show_excerpts -%}
          <div class="post-excerpt">
            <div>{{ post.excerpt | markdownify }}</div>
            <div><img src="{{ post.img }}"></img></div>
            <div><a href="{{ post.url | relative_url }}" class="read-more">Read More &rarr;</a></div>
          </div>
          {%- endif -%}
        </div>
        <hr>
      {%- endfor -%}
      </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
